body {
   display: flex;
   flex-direction: column;
   margin: 0px;
   align-items: stretch;
   height: 100vh;
}

.header {
   font-size: 38px;
   text-align: center;
   background-color: rgb(130, 0, 0);
   color:rgb(207, 205, 139);
   padding: 14px;
}

input {
   font-size: 18px;
   border: black solid 3px;
   border-radius: 8px;
   padding: 6px;
   min-height: 30px;
   min-width: 420px;
   color:rgba(0, 0, 0, 0.513);
   background-color: rgb(180, 105, 105);
}

input:focus {
   border: rgb(255, 236, 25) solid 3px;
}

.buttonContainer {
   display: flex;
   gap: 20px;
   justify-content: space-between;
}

button {
   font-size: 20px;
   border: rgb(95, 18, 18) solid 4px;
   border-radius: 180px;
   padding: 8px 12px;
   color:rgb(207, 205, 139);
   background-color: rgb(130, 0, 0);
}

button:hover {
   background-color: rgb(207, 205, 139);
   color: rgb(130, 0, 0);
}
   

.content {
   display: flex;
   flex-direction: column;
   background-color: rgb(0, 0, 0);
   align-self: stretch;
   align-items: center;
   padding: 16px;
   height: 100vh;
   gap: 20px;
}

.container {
   display: flex;
   flex-wrap: wrap;
   padding: 0px;
   border: ridge rgb(165, 22, 22) 12px
}

.boardDiv:mouseover {
   background-color: rgb(54, 14, 14);
}

.footer {
   font-size: 16px;
   text-align: center;
   background-color: rgb(130, 0, 0);
   color:rgb(207, 205, 139);
   padding: 12px;
}