body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0px;
   height: 100vh;
   gap: 15px;
   font-family: fantasy, Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(0, 0, 0);
}

.header {
   font-size: 38px;
   text-align: center;
   background-color: rgb(130, 0, 0);
   color:rgb(207, 205, 139);
   padding: 14px;
}

.content {
   display: flex;
   justify-content: space-evenly;
   align-self: stretch;
   align-items: center;
   padding: 16px;
   height: 100vh;
   gap: 28px;
   padding-bottom: 70px;
   color:rgb(207, 205, 139);
}

.controls {
   display: flex;
   flex-direction: column;
}

input {
   border: rgb(254, 0, 0) solid 0px;
   border-radius: 9px;
   box-sizing: border-box;
   border: rgb(175, 18, 18) solid 1px;
}

.slidecontainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px;
   gap: 26px;

 }
 
 .slider {
   -webkit-appearance: none; 
   appearance: none;
   width: 24rem; 
   height: 15px;
   background: #850d0d94;
   outline: none; 
   opacity: 0.7;
   -webkit-transition: .4s; 
   transition: opacity .6s;
 }
 
 .slider:hover {
   opacity: 1; 
 }
 
 
 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px; 
   height: 45px;
   background: #f4b93b;
   cursor: pointer; 
   border: rgb(88, 139, 0) solid 1px;
   border-radius: 180px;
 }
 
 .slider::-moz-range-thumb {
   width: 15px;
   height: 45px; 
   background: #f4b93b;
   cursor: pointer; 
 }

 .sliderValue {
   flex: 0;
   width: 1em;
   text-align: center;
 }

.buttonContainer {
   display: flex;
   padding-top: 12px;
   flex-direction: column;
   gap: 20px;
   justify-content: space-between;
   align-items: center;
}

button {
   max-height: 3em;
   font-size: 20px;
   border: rgb(95, 18, 18) solid 4px;
   border-radius: 180px;
   padding: 8px 12px;
   color:rgb(207, 205, 139);
   background-color: rgb(130, 0, 0);
   font-family: fantasy, Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
   background-color: rgb(207, 205, 139);
   color: rgb(130, 0, 0);
}

.mystery {
   background-color: rgba(26, 96, 1, 0.604);
   color: rgb(149, 251, 255);
   border: rgb(12, 12, 122) solid 4px;
   font-family: fantasy, Verdana, Geneva, Tahoma, sans-serif;
}

.mystery:hover {
   background-color: rgb(50, 41, 108);
}

.mysteryContainer {
   display: flex;
   gap: 12px;
}
.container {
   display: flex;
   flex-wrap: wrap;
   border: ridge rgb(165, 22, 22) 12px;
}

.boardDiv:mouseover {
   background-color: rgb(54, 14, 14);
}

.footer {
   font-size: 16px;
   text-align: center;
   background-color: rgb(130, 0, 0);
   padding: 12px;
}



 